/node_modules
/public/hot
/public/storage
/public/backend/mobileapp-management/video/
/public/backend/images/leave-file/
/public/backend/attachment
/public/id_card/images
/public/id_card/signatures
/public/backend/file_category_name
/public/backend/proggapon
/storage/*.key
/vendor
/logs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/db/hrm/
